
.main-wrapper{float: left;width: 100%;position: relative;}
header{float: left;width: 100%;background: #4285F4;padding: 15px;}
header select{width: 100%;padding: 5px;}
header label{display: block;color: #fff;}
section{position: relative;float: left;width: 100%;}
table{background: #ccc;box-shadow: 0 0 5px -2px #000;margin: 0;position: absolute;z-index:9;top:15px;left:30px;width: 300px !important;border-radius: 2px;border-collapse: separate;border-spacing: 1px;overflow: :hidden;}
table table{box-shadow: none;position: static;min-width: 0;width: auto !important;border-spacing: 0px;border-radius: 0;}
thead td{background:#fff;color: #4285F4;padding: 7px !important;}
td{background:  #fff;border: 0 !important;padding: 0 7px !important;font-weight: bold;}
td:last-child{font-weight: normal;}
thead tr td{background: #ddd;}
tbody td:first-child{cursor: pointer;}
tbody tr:hover td{background: #eee;}
agm-map{width: 100%;height: 500px;z-index: -9;}